<link rel="stylesheet" href="/static/css/navigationMenuStyle.css">
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Doctor AI</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/signup">Signup</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </div>
</nav>