:root {
    --themcolor: #1E90FF;
    --secondsvg: #FFD54F;
    --firstsvg: #4CAF50;
}
body {
    background-color: #FFFFFF;
}
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');