<h3>User Details</h3>


<div class="row">
    {{#each data}}
    <div class="col s12 m6">
        <div class="card">
        <div class="card-content">
            <p>{{this.email}}</p>
            <p>{{this.password}}</p>
        </div>
        </div>
    </div>
    {{/each}}
</div>