footer{
    background-color: #1E90FF;
    font-family: 'Roboto Slab',serif;
    font-size: 1.5rem !important;     
    font-weight:400;
    color: #FFFFFF;
    margin-top: 5rem;
    padding: 0.5rem;
    display: flex;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width:  100%;
    align-items: center;
    justify-content: center;
}