.nav-wrapper{
    background-color: #1E90FF;
}
.brand-logo{
    font-family: 'Roboto Slab',serif;
    font-size: 1.5rem !important;     
    font-weight:400; 
}
.nav-wrapper i {
    position: relative;
    left: 15% !important;
    margin-top: 8px;
    cursor: pointer;
    font-size: 30px !important;
}


@media (max-width:600px) {

    .nav-wrapper i {
        position: relative;
        left: 3% !important;
        margin-top: 0.5rem;
        cursor: pointer;
    }