/*sidenav*/
/*sidenav*/
.side-nav {
    width: 120px;
    opacity: 0.9;
    transition-delay: 0.2s !important;
    transition-timing-function: linear;
    transition: 0.2s ease;
    background-color: #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sidemenu-item:hover {
    background-color: var(--themcolor);

}

.sidemenu-item:hover .material-icons,
.sidemenu-item:hover .sidemenu-title {
    color: white !important;

}

.sidemenu-link {
    text-align: center;
    margin-top: 0px;
}

.sidemenu-item i {
    color: #757575;
    font-size: 25px;
    position: relative;
    padding: 20px !important;

}

.sidemenu-item span {
    color: #757575;
    font-size: 15px !important;
    text-decoration: none;
    display: block !important;
    margin-top: -15px !important;
    padding-bottom: 15px !important;
}
