:root {
    --themcolor: #1E90FF;
    --secondsvg: #FFD54F;
    --firstsvg: #4CAF50;
}

/*navlink*/
.nav-wrapper {
    background-color: #1E90FF;
}

.brand-logo {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem !important;
    font-weight: 400;
}

.logo-text {
    font-size: 25px !important;
    font-family: 'Roboto Slab', serif;

}

.center-text {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

#click-icon {
    list-style-type: none;
}

#click-icon i {
    position: absolute !important;
    top: 0;
    left: 20px !important;

}

.nav-wrapper i {
    position: relative;
    left: 15% !important;
    margin-top: 8px;
    cursor: pointer;
    font-size: 30px !important;
}